*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    /* outline: white solid 1px; */
}
.small{
    font-size: 0.8rem;
}
.big{
    font-size: 1.4rem;
}
html { 
    background: url(./img/marc-olivier-jodoin-MJv31qXqSOU-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body{
      width: 100vw;
      height: 100vh;
      overflow: hidden;
  }
  #main{
      width: 100%;
      display: flex;
      flex-direction: column ;
  }
  #top{
      width: 100%;
      height: 70vh;
    display: flex;
    position: relative;
  }
  #left{
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 5px;
      height: 100%;
      width: 25%;
      padding: 30px;
      padding-top: 50px;

  }
  #currentTemp{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
  }
  #tempIcon{
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
  }
  #mainIcon{
  transform: scale(2);
  }
  #inputDiv{
    position: relative;
  }
  #userInput{
    padding: 5px;
    width: 30%;

    border: none;
    color: whitesmoke;
    outline: none;
    border-radius: 10px;
    margin-left: 15px;
    width: 60%;
    background-color: rgba(250, 245, 245, 0.5);
    margin-bottom: 15px;
  }
  ::placeholder{
    color: whitesmoke;
    font-size: 0.8rem;
  }
  #lupa{
    position: absolute;
    left: 55%;
    top: 20%;
    transform: scale(0.8);
    color: black;
  }

.button-85 {
  transform: scale(0.6);
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 500ms;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#submit:hover{
  transform: scale(0.65);
}

  #right{
    position: absolute;
    right: 5px;
    width: 15%;
    height: 100%;
    padding: 30px;
    padding-top: 50px;


  }
  .info{
    display: flex;
    padding: 10px;
    justify-content: flex-end;


  }
  .infoBox{
    display: flex;
    flex-direction: column;
    width: 50%;

  }
  .infoIcon{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

  }
  .fa-solid{
    transform: scale(1.8);
  }
  #bot{
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #dailyForecast{
    margin-top: 25px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0.45);
    justify-content: center;
    align-items: center;
    border-radius: 10px;


  }
  .day{
    margin-bottom: 20px;
    font-weight: 800;
  }

  #dailyForecast{
    display: flex;
  }
  .dailyIcon{
    transform: scale(1.1);
  }