*{
     border: 1px solid rgb(240, 236, 8); 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}
.small{
    font-size: 0.8rem;
}
.big{
    font-size: 1.4rem;
}
html { 
    background: url(./img/marc-olivier-jodoin-MJv31qXqSOU-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body{
      width: 100vw;
      height: 100vh;
      overflow: hidden;
  }
  #main{
      width: 100%;
      display: flex;
      flex-direction: column ;
  }
  #top{
      width: 100%;
      height: 700px;
    display: flex;
    position: relative;
  }
  #left{
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 5px;
      height: 100%;
      width: 30%;
      padding: 30px;
      padding-top: 50px;

  }
  #currentTemp{
    font-size: 2.5rem;
    margin-top: 50px;
  }
  #tempIcon{
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
  }
  #inputDiv{
    position: relative;
  }
  #userInput{
    padding: 5px;
    width: 30%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: whitesmoke;
    outline: none;
  }
  ::placeholder{
    color: whitesmoke;
    font-size: 0.8rem;
  }
  #lupa{
    position: absolute;
    left: 25%;
    top: 10%;
    transform: scale(0.8);
    color: white;
  }
  #right{
    position: absolute;
    right: 5px;
    width: 15%;
    height: 100%;
    padding: 30px;
    padding-top: 50px;


  }
  .info{
    display: flex;
    padding: 10px;
    justify-content: flex-end;


  }
  .infoBox{
    display: flex;
    flex-direction: column;
    width: 50%;

  }
  .infoIcon{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

  }
  #bot{
    display: flex;
    flex-direction: column;
    height: 300px;
  }